:root {
    --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-snow: #FFFFFF;
    --color-ocean:  #416dea;
    --color-salmon: #F32C52;
}


#overlay {
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#gdpr-plugin-box {
    font-family: var(--font-face);
    font-size: 16px;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 30px;
    padding: 15px;
    opacity: 1;
    box-shadow: 5px 5px gray;
}

#gdpr-plugin-box h1 {
    font-size: 30px;
}
#gdpr-plugin-box span {
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: auto;
    line-height: 24px;
    background-color: #dbdbdb;
    border-radius: 5px;
    padding: 10px;
}

#gdpr-plugin-box button {
    background: none;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 0 none;
    width: 150px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
}

#gdpr-plugin-box button:hover {
    transition: all 150ms linear;
    opacity: .85;
}
#gdpr-plugin-box button:active {
     transition: all 150ms linear;
     opacity: .75;
 }
#gdpr-plugin-box button:focus {
     outline-offset: -4px;
 }

button#gdpr-plugin-button-accept {
    color: var(--color-snow);
    background: var(--color-ocean);
}

button#gdpr-plugin-button-decline {
    color: var(--color-snow);
    background: var(--color-salmon);
}